.upload-part3 {
  .upload-part3-content {
    .upload-part3-raw {
      display: flex;
      align-items: center;

      > div {
        margin-right: 2rem;
      }

      > .upload-part3-level {
        width: 20%;
        margin-bottom: 2rem;
      }

      > .question-title {
      }

      > input {
        flex-grow: 1;
        width: 80%;
      }
    }
    .upload-part3-btn {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      margin-top: 2rem;

      > button {
        // width: 10rem;
      }
    }
  }

  .upload-part3-question {
    .upload-part3-raw {
      display: grid;
      margin-bottom: 2rem;
      grid-template-columns: repeat(12, 1fr);

      > .question-title {
        margin-right: 2rem;
        grid-column: 1/2;
      }

      > input {
        grid-column: 2/13;
        flex-grow: 1;
      }
    }
    .upload-part3-btn {
      display: flex;
      justify-content: flex-end;

      > button {
        margin-right: 2rem;
      }
    }
  }
}

/***** Example custom styling upload image *****/
.upload-btn-wrapper input[type='file'] {
  position: absolute;
  top: -1000px;
}

.upload-btn-wrapper {
  cursor: pointer;
  border: 1px dashed rgb(217, 217, 217);
  border-radius: 15px;
  padding: 10px 0px;
  display: inline-block;
  width: 20%;

  &:hover {
    border-color: #30a9ff;
    box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.2);
  }
  &:active {
    background: #ccf;
  }
  & :invalid + span {
    color: #a33;
  }
  & :valid + span {
    color: #3a3;
  }
}
