.breadcrumb-cus {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  min-height: 6rem;
  background-color: #ebebeb;

  .ant-breadcrumb {
    grid-column: 3/15;
    display: flex;
    align-items: center;
  }
}
