.home {
  flex-grow: 1;
}

.featured-icon {
    margin-top: 22px;
    margin-bottom: 22px;
    display: inline;
    width: 50px;
}

.icon-featured {
    text-align: center;
    padding: 10px 30px 30px;
}

.text-align-center {
  text-align: center;
}
