.exam {
  flex-grow: 1;
  background-color: #ebebeb;

  .exam-content {
    width: 70%;
    margin: auto;
    background-color: #fff;
    > h1 {
      background-color: #33abe5;
      margin-top: 4rem;
      text-align: center;
      color: #f5fbfe;
      padding: 1rem;
      margin-bottom: 0;
      font-size: 3rem;
    }

  }
}
