<<<<<<< HEAD
.home {
  flex-grow: 1;
}
=======
.grammar {
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .grammar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .ant-row {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .ant-col {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .ant-tabs-left {
          flex-grow: 1;
          display: flex;

          .ant-tabs-left-bar {
            padding-top: 3rem;
          }
          .ant-tabs-content {
            padding-top: 3rem;
          }
        }
      }
    }
  }
}
>>>>>>> 14eef0a724087e2d0b8a84b3429c0f3bec406b00
