.upload-part2 {
  .upload-part2-content {
    .upload-part2-raw {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;

      > div {
        width: 17%;
      }

      > .ck-editor {
        flex: 1 !important;
      }

      > .upload-part2-level {
        width: 20%;
        margin-bottom: 2rem;
      }

      > .question-title {
      }

      > textarea {
        flex-grow: 1;
        width: 80%;
      }

      > input {
        flex-grow: 1;
        width: 80%;
      }
    }

    .upload-part2-btn {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      margin-top: 2rem;

      > button {
        // width: 10rem;
      }
    }
  }

  .upload-part2-btn {
    display: flex;
    justify-content: flex-end;

    > button {
      margin-right: 2rem;
    }
  }
}

/***** Example custom styling upload image *****/
.upload-btn-wrapper input[type='file'] {
  position: absolute;
  top: -1000px;
}

.upload-btn-wrapper {
  cursor: pointer;
  border: 1px dashed rgb(217, 217, 217);
  border-radius: 15px;
  padding: 10px 0px;
  display: inline-block;
  width: 20%;

  &:hover {
    border-color: #20a9ff;
    box-shadow: 0 0 0 2px rgba(22, 122, 255, 0.2);
  }
  &:active {
    background: #ccf;
  }
  & :invalid + span {
    color: #a22;
  }
  & :valid + span {
    color: #2a2;
  }
}
