.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.ant-form-item-children-icon {
  position: absolute!important;
  top: 19px!important;
  color: #52c41a;
}