.upload-newword {
  .upload-newword-content {
    .upload-newword-raw {
      display: flex;
      align-items: center;

      > div {
        margin-right: 1rem;
      }

      > .upload-newword-level {
        width: 10%;
        margin-bottom: 1rem;
      }

      > .question-title {
      }

      > input {
        flex-grow: 1;
        width: 80%;
      }
    }
    .upload-newword-btn {
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 2rem;

      > button {
        // width: 10rem;
      }
    }
  }

  .upload-newword-question {
    .upload-newword-raw {
      display: grid;
      margin-bottom: 2rem;
      grid-template-columns: repeat(11, 1fr);

      > .question-title {
        margin-right: 1rem;
        grid-column: 1/1;
      }
    }
    .upload-newword-btn {
      display: flex;
      justify-content: flex-end;

      > button {
        margin-right: 1rem;
      }
    }
  }
}

/***** Example custom styling upload image *****/
.upload-btn-wrapper input[type='file'] {
  position: absolute;
  top: -1000px;
}

.upload-btn-wrapper {
  cursor: pointer;
  border: 1px dashed rgb(117, 117, 117);
  border-radius: 15px;
  padding: 10px 0px;
  display: inline-block;
  width: 10%;
  margin-bottom: 2rem;

  &:hover {
    border-color: #10a9ff;
    box-shadow: 0 0 0 1px rgba(11, 111, 155, 0.1);
  }
  &:active {
    background: #ccf;
  }
  & :invalid + span {
    color: #a11;
  }
  & :valid + span {
    color: #1a1;
  }
}
