.ant-menu {
  .avatar {
    display: flex;
    align-items: center;

    &:hover {
      border-color: #ffffff;
    }

    > img {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }
  }
}

.auth-button {
  font-size: 18px;
  width: 120px;
  display: block;
  text-align: center;
}

